body {
    background: grey;
    font-family: sans-serif;
}

div {
    padding: 20px 20px;
    background-color: white;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px ;
}

div > button {
    border-radius: 30px;
    padding: 10px 20px;
}

#button1 {
    color :white ;
    background-color: rgba(3, 84, 90, 0.7);
    border-color: rgb(19, 187, 187);
}

#button2 {
    color :white ;
    background-color: rgba(199, 167, 10, 0.7);
    border-color: rgb(171, 196, 14);
}

#button3 {
    color :white ;
    background-color: rgba(57, 7, 93, 0.7);
    border-color: rgb(79, 11, 161);
}

button:hover {
    cursor: pointer;
}